<div class="about-section">
        <h1>Fortis Hospital</h1>
        <p>Super Speciality Hospital in Important surgories.</p>
      </div>
      <div>
      <button button color="darkblue" (click)="Hospital($event)">Previous</button> 
      <button button color="darkblue" (click)="HospitalInfo($event)">More Info</button> 
      </div>
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>rajesh Bhatt</h2>
              <p class="title">CEO & Founder</p>
              <p>Strong knowledged person with very good info.</p>
              <p>rbhatt@fortis.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Ramesh pisharody</h2>
              <p class="title">Medical Director</p>
              <p>Super specialist.</p>
              <p>rmaeshp@fortis.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button button color="darkblue" (click)="Hospital($event)">Previous</button> 
        <button button color="darkblue" (click)="HospitalInfo($event)">More Info</button> 
      </div>
