<div class="about-section">
  <h1>Narayana Hridalaya</h1>
  <p>Super Speciality Hospital in cardiology.</p>
</div>
<div>
<button mat-raised-button color="darkblue" (click)="Hospital($event)">Previous</button> 
</div>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Narayana Shetty</h2>
        <p class="title">CEO & Founder</p>
        <p>He is technical very sound.</p>
        <p>nshetty@narayana.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Suresh Reddy</h2>
        <p class="title">Medical Director</p>
        <p>Super specialist.</p>
        <p>redysuresh@narayana.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<div>
 <button mat-raised-button color="darkblue" (click)="Hospital($event)">Home</button> 
</div>

