<div class="about-section">
    <h1>Manipal Hospital</h1>
    <p>Super Speciality Hospital in Important aspects.</p>
  </div>
  <div>
  <button mat-raised-button color="darkblue" (click)="Hospital($event)">Previous</button> 
  </div>
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Rajeev Shekhar</h2>
          <p class="title">CEO & Founder</p>
          <p>Strong knowledged person with very good info.</p>
          <p>rajeevshekhar@manipal.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Mohanlal</h2>
          <p class="title">Medical Director</p>
          <p>Super specialist.</p>
          <p>mohan@manipal.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
<div>
    <button mat-raised-button color="darkblue" (click)="Hospital($event)">Previous</button> 
</div>
