<div class="HospitalName1">
<button   class ="ButtonMine"  mat-raised-button color="primary" (click)="Hospital1($event)">
    <h2>Treatment in Narayana</h2>
    <h3>url:narayana.mdoc.one</h3>
    <h5>Version:4.0</h5>
</button>
</div>
<div class="HospitalName2">
<button  class ="ButtonMine" mat-raised-button color="primary" (click)="Hospital2($event)">
    <h2>Treatment in Fortis</h2>
    <h3>url:fortis.mdoc.one</h3>
    <h5>Version:4.0</h5>
</button>
</div>
<div class="HospitalName3">
<button class ="ButtonMine" mat-raised-button color="primary"(click)="Hospital3($event)">
    <h2>Treatment in Manipal</h2>
    <h3>url:maniapl.mdoc.one</h3>
    <h5>Version:5.0</h5>
</button>
</div>
      
