<div> 
<button mat-raised-button  (click)="LoginModel($event)">Login</button> 
</div>
<div id="id01" class="modal">  
  <form class="modal-content animate">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" id="username"  required>
      <input type="password" placeholder="Enter Password" name="psw" id="password" required>
      <button type="submit" (click)="RouteScreen($event)">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  </form>
</div>
